<div class="page-header">
  <h1>Preguntas</h1>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Pregunta</h3>
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Descripcion</label>
        <input type="text" class="form-control" name="descripcion" formControlName="descripcion" #descripcion/>
      </div>
      <div
        *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['descripcion'].errors.required">
          El campo descripcion es obligatorio.
        </div>
      </div>
      <div class="form-group text-right">
        <button type="submit" (click)="submit()" [disabled]="angForm.pristine || angForm.invalid"
                class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span> Guardar
        </button>
        <button (click)="reset()" class="btn btn-link mr-3">
          <span class="glyphicon glyphicon-trash"></span> Limpiar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="container">
    <h4 class="margin_top_1">Buscador</h4>
    <div class="panel-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
        </div>
        <input (keyup)="loadData()" [(ngModel)]="filter.descripcion" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
</div>

<div *ngIf="data !== undefined && data.preguntas.length > 0">
  <table class="table table-hover margin_top_1">
    <thead>
    <tr>
      <th class="row_80 align-middle">Descripcion</th>
      <th class="row_center_20 align-middle">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let pregunta of data.preguntas">
      <td class="row_80 align-middle">{{ pregunta.descripcion }}</td>
      <td class="row_center_20 align-middle">
        <button (click)="edit(pregunta)" class="btn btn-primary mr-4"><span class="glyphicon glyphicon-pencil mr-2"></span>
          Edit
        </button>
        <button (click)="delete(pregunta._id)" class="btn btn-danger"><span
          class="glyphicon glyphicon-remove mr-2"></span> Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" >
    <ul class="pagination pull-right">
      <li *ngIf="data.page > 1">
        <a (click)="paginacion(-1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li> <span aria-hidden="true">Pagina {{data.page}} de {{(data.count / data.perPage) | ceil }}</span></li>
      <li *ngIf="data.perPage*data.page < data.count">
        <a (click)="paginacion(1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div *ngIf="data == undefined || data.preguntas.length == 0" class="alert alert-info margin_top_1" role="alert">No hay elementos en la lista</div>
