.margin_top_1 { margin-top:1.0em; margin-bottom:0.8em; }
.row_80 { min-width: 80%; max-width: 80%; }
.row_20 { min-width: 20%; max-width: 20%;}
.row_center_80 { min-width: 80%; max-width: 80%; text-align: center;}
.row_center_20 { min-width: 20%; max-width: 20%; text-align: center;}
