<div class="page-header">
  <h1>Enfermedades</h1>
</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Nueva Enfermedad
  </button>
</p>

<div class="panel panel-primary" [ngbCollapse]="isCollapsed">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Enfermedad</h3>
  </div>
  <div class="panel-body">
    <form #Form="ngForm">
      <div class="form-group">
        <label class="col-md-4">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="newEnfermedades.nombre" name="nombre"/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Descripción</label>
        <input type="text" class="form-control" [(ngModel)]="newEnfermedades.descripcion" name="descripcion"/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Tratamiento</label>
        <input type="text" class="form-control" [(ngModel)]="newEnfermedades.tratamiento" name="tratamiento"/>
      </div>
      <div>
        <label class="col-md-4">Sintomas</label>
        <ng-multiselect-dropdown
          [placeholder]="'Seleccionar sintomas'"
          [data]="sintomas"
          [(ngModel)]="newEnfermedades.sintomas"
          [settings]="dropdownSettings"
          name="sintomas">
        </ng-multiselect-dropdown>
      </div>

      <div>
        <table class="table table-hover margin_top_1">
          <thead>
          <tr>
            <th class="row_80 align-middle">Pregunta</th>
            <th class="row_center_20 align-middle">Respuesta</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let respuesta of newEnfermedades.respuestas">
            <td class="row_80 align-middle">{{ respuesta.pregunta.descripcion }}</td>
            <td class="row_center_20 align-middle">
              <button (click)="setRespuesta(respuesta.pregunta._id, 'SI')" class="btn" [class.btn-primary]="respuesta.respuesta === 'SI'" [class.btn-link]="respuesta.respuesta !== 'SI'">
                <span class="glyphicon glyphicon-ok-sign"></span> SI
              </button>
              <button (click)="setRespuesta(respuesta.pregunta._id, 'NO')" class="btn m-2" [class.btn-danger]="respuesta.respuesta === 'NO'" [class.btn-link]="respuesta.respuesta !== 'NO'">
                <span class="glyphicon glyphicon-remove-sign"></span> NO
              </button>
              <button (click)="setRespuesta(respuesta.pregunta._id, '?')" class="btn"
                      [ngClass]="{
            'btn-warning': respuesta.respuesta === '?',
            'btn-link': respuesta.respuesta !== '?' }">
                <!--[class.btn-warning]="respuesta.respuesta === '?'" [class.btn-link]="respuesta.respuesta !== '?'"-->
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </td>
            <!-- <app-response-component [respuesta]="respuesta"></app-response-component> -->

            <!--<td class="row_80 align-middle">{{ pregunta.descripcion }}</td>
            <td class="row_center_20 align-middle">
              <button (click)="setPregunta(this)" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok-sign"></span> SI
              </button>
              <button (click)="setPregunta(this)" class="btn btn-link mr-3">
                <span class="glyphicon glyphicon-remove-sign"></span> NO
              </button>
              <button (click)="setPregunta(this)" class="btn btn-link mr-3">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
             </td>-->
          </tr>
          </tbody>
        </table>
      </div>
      <!-- -->
      <!--<div class="alert alert-danger">-->
        <!--<div>-->
          <!--El campo nombre es obligatorio.-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group text-right mt-4">
        <button type="submit" (click)="submit()" [disabled]="" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span> Guardar
        </button>
        <button (click)="reset()" class="btn btn-link mr-3">
          <span class="glyphicon glyphicon-trash"></span> Limpiar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="container">
    <h4 class="margin_top_1">Buscador</h4>
    <div class="panel-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend mr-3">
          <span class="input-group-text" id="estado_buscador_id">Estado</span>
          <button (click)="filterStatus('OK')" class="btn mr-3"
                  [ngClass]="{ 'btn-success': filter.status === 'OK', 'btn-link': filter.status !== 'OK'}">
            <span class="glyphicon glyphicon-ok-sign"></span>
          </button>
          <button (click)="filterStatus('KO')" class="btn"
                  [ngClass]="{ 'btn-warning': filter.status === 'KO', 'btn-link': filter.status !== 'KO'}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="nombre_buscador_id">Nombre</span>
          <input (keyup)="loadData()" [(ngModel)]="filter.nombre" type="text" class="form-control" aria-label="Default" aria-describedby="nombre_buscador_id">
        </div>
        </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="descripcion_buscador_id">Descripcion</span>
          <input (keyup)="loadData()" [(ngModel)]="filter.descripcion" type="text" class="form-control" aria-label="Default" aria-describedby="descripcion_buscador_id">
        </div>
        </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="tratamiento_buscador_id">Tratamiento</span>
          <input (keyup)="loadData()" [(ngModel)]="filter.tratamiento" type="text" class="form-control" aria-label="Default" aria-describedby="tratamiento_buscador_id">
        </div>
        </div>
    </div>
  </div>
</div>

<div *ngIf="data !== undefined && data.enfermedades.length > 0">
  <table class="table table-hover margin_top_1">
    <thead>
    <tr>
      <th class="row_80 align-middle"></th>
      <th class="row_80 align-middle">Nombre</th>
      <th class="row_80 align-middle">Descripcion</th>
      <th class="row_80 align-middle">Tratamiento</th>
      <th class="row_80 align-middle">Sintomas</th>
      <th class="row_center_20 align-middle">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let enfermedad of data.enfermedades">
      <td class="row_80 align-middle">
        <button *ngIf="!preguntaPendiente(enfermedad)" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></button>
        <button *ngIf="preguntaPendiente(enfermedad)" class="btn btn-warning"><span class="glyphicon glyphicon-question-sign"></span></button>
      </td>
      <td class="row_80 align-middle">{{ enfermedad.nombre }}</td>
      <td class="row_80 align-middle">{{ enfermedad.descripcion }}</td>
      <td class="row_80 align-middle">{{ enfermedad.tratamiento }}</td>
      <td class="row_80 align-middle">{{ getSintomas(enfermedad.sintomas) }}</td>
      <td class="row_center_20 align-middle">
        <button (click)="edit(enfermedad)" class="btn btn-primary mr-4"><span class="glyphicon glyphicon-pencil mr-2"></span>
          Edit
        </button>
        <button (click)="delete(enfermedad._id)" class="btn btn-danger"><span
          class="glyphicon glyphicon-remove mr-2"></span> Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row" style="display:block">
    <nav aria-label="Page navigation" >
      <ul class="pagination pull-right">
        <li *ngIf="data.page > 1">
          <a (click)="paginacion(-1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li> <span aria-hidden="true">Pagina {{data.page}} de {{(data.count / data.perPage) | ceil }}</span></li>
        <li *ngIf="data.perPage*data.page < data.count">
          <a (click)="paginacion(1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div *ngIf="data == undefined || data.enfermedades.length == 0" class="alert alert-info margin_top_1" role="alert">No hay elementos en la lista</div>

<div *ngIf="conflictos !== undefined && conflictos.length > 0">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let conflicto of conflictos, let i = index" title="Conflicto #{{i+1}}">
      <ng-template ngbPanelContent>
        <table class="table table-hover margin_top_1">
          <thead>
          <tr>
            <th class="row_80 align-middle"></th>
            <th class="row_80 align-middle">Nombre</th>
            <th class="row_80 align-middle">Descripcion</th>
            <th class="row_80 align-middle">Tratamiento</th>
            <th class="row_80 align-middle">Sintomas</th>
            <th class="row_center_20 align-middle">Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let enfermedad of conflicto.enfermedades">
            <td class="row_80 align-middle">
              <button *ngIf="!preguntaPendiente(enfermedad)" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></button>
              <button *ngIf="preguntaPendiente(enfermedad)" class="btn btn-warning"><span class="glyphicon glyphicon-question-sign"></span></button>
            </td>
            <td class="row_80 align-middle">{{ enfermedad.nombre }}</td>
            <td class="row_80 align-middle">{{ enfermedad.descripcion }}</td>
            <td class="row_80 align-middle">{{ enfermedad.tratamiento }}</td>
            <td class="row_80 align-middle">{{ getSintomas(enfermedad.sintomas) }}</td>
            <td class="row_center_20 align-middle">
              <button (click)="edit(enfermedad)" class="btn btn-primary mr-4"><span class="glyphicon glyphicon-pencil mr-2"></span>
                Edit
              </button>
              <button (click)="delete(enfermedad._id)" class="btn btn-danger"><span
                class="glyphicon glyphicon-remove mr-2"></span> Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div *ngIf="conflictos == undefined || conflictos.length == 0" class="alert alert-success mb-4" role="alert">No hay conflictos</div>
